.wrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  &-label {
    display: flex;
    justify-content: space-between;
  }
}

.form-wrapper {
  position: relative;
}

@media screen and (min-width: 1440px) {
  .wrapper {
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--neutral-White);
    width: 1000px;
    border-radius: 20px;
    padding: 20px 5px;

    &-label {
      display: flex;
      justify-content: space-between;
    }
  }

  .wrapper--success {
    flex-direction: column;
    width: 500px;
    padding: 10px;
    display: flex;
  }
}
