.button {
  padding: 15px 50px;
  color: var(--neutral-White);
  background-color: var(--neutral-Dark-Slate-Grey);
  border-radius: 5px;
  outline: var(--neutral-Dark-Slate-Grey);
  border: none;
  &:hover {
    background: linear-gradient(
      332deg,
      rgba(255, 107, 62, 1) 32%,
      rgba(255, 87, 117, 1) 76%
    );
    cursor: pointer;
    transition: background 2s ease;
  }

  &--confirmation {
    padding: 15px 85px;
    margin-top: 15rem;
  }
}

@media screen and (min-width: 1440px) {
  .button {
    width: 100%;
    &--confirmation {
      padding: 15px 85px;
      margin-top: auto;
    }
  }
}
